In [139]:
# Get dependencies
import pandas as pd
import json

In [140]:
# Save path to data set in variable
purchase_data = "Resources/purchase_data.csv"

In [142]:
# Use Pandas to read data and store into data frame
purchase_data = pd.read_csv(data_file)

# Print first five rows minus header
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [143]:
# Player count - Display the number of players
# Create variable for counting number of players
# Use .unique() to count different players, and use len to read as a length of the object
Total_players = len(purchase_data['SN'].unique())

# Print count, and use string to see
print("The number of total players " + str(Total_players) + ".")

The number of total players 576.

In [144]:
#Purchasing Analysis * Number of Unique Items * Average Purchase Price * Total Number of Purchases * Total Revenue
# Create variables for all items to be analized
# Use .unique() for counting, sum, 
Total_Unique_Items = len(purchase_data['Item Name'].unique())
Total_Purchases = len(purchase_data['Purchase ID'].unique())

# use formating for price to get commans and USD currency
# NOTE - Need to find how to format into currency
Total_Revenue = purchase_data['Price'].sum()

# use .mean() fomratting for average purchase price
# use round()
Average_Price = round(purchase_data["Price"].mean(),2)

print("The Number of Unique items is " + str(Total_Unique_Items) + ".")
print("The Number of Purchases is "+ str(Total_Purchases)+ ".")
print("The Total Revenue os all purchases is $" + str(Total_Revenue) + ".")
print("The Average Price per item is $" + str(Average_Price) + ".")

The Number of Unique items is 179.
The Number of Purchases is 780.
The Total Revenue os all purchases is $2379.77.
The Average Price per item is $3.05.

In [145]:
# Create summary data table 
Purchase_data_summary =pd.DataFrame({"Number of Unique Items ":[Total_Unique_Items],
                            "Number of Purchases" : [Total_Purchases],
                            "Total Revenue": [Total_Revenue],
                            "Average Price" : [Average_Price]})
Purchase_data_summary

   Number of Unique Items   Number of Purchases  Total Revenue  Average Price
0                      179                  780       2,379.77           3.05

In [146]:
#Gender Demographics - use value counts and counts to get the following percentages
#Percentage and Count of Male Players 
#Percentage and Count of Female Players 
#Percentage and Count of Other / Non-Disclosed
Unique_Gender = purchase_data['Gender'].value_counts()
Unique_Gender_df = pd.DataFrame(Unique_Gender)

# Check work
Unique_Gender_df

                       Gender
Male                      652
Female                    113
Other / Non-Disclosed      15

In [147]:
# Find total count
Total_Gender = purchase_data['Gender'].count()

# Check work
Total_Gender

780

In [148]:
# Calculate the percentages of Unique_Gender
Percentages_Gender = ((Unique_Gender)/(Total_Gender))* 100
Percentages_Gender_pd = pd.DataFrame(Percentages_Gender)

# Check Work
Percentages_Gender_pd

                       Gender
Male                    83.59
Female                  14.49
Other / Non-Disclosed    1.92

In [149]:
# Create Purchasing Analysis (Gender) summary table
# Add 'Percent of players' to table from unique_gender_df
Unique_Gender_df['Percent of Players'] = Percentages_Gender
Gender_Summary_df = pd.DataFrame(Unique_Gender_df)

# Rename 'Gender' to 'Total Count'
Update_Gender_Summary_df = Gender_Summary_df.rename(columns={
    'Gender': 'Total Count',
})

# Show work
Update_Gender_Summary_df

                       Total Count  Percent of Players
Male                           652               83.59
Female                         113               14.49
Other / Non-Disclosed           15                1.92

In [166]:
#Purchasing Analysis (Gender)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame

# PURCHASING ANALYSIS (GENDER)
# Calculate purchase count by gender
Gender_Group_df = purchase_data.groupby('Gender')

Number_Players = Gender_Group_df['SN'].count()
Number_Players_df = pd.DataFrame(Number_Players)

# Calculate average purchase price by gender
Average_Price_by_Gender = Gender_Group_df['Price'].mean()

# Calculate total purchase price by gender
Total_Gender_Purchases = Gender_Group_df['Price'].sum()

# Calculate normalized totals (total per category / total count per category)
Normal_Total = Total_Gender_Purchases / Number_Players

# Add 'Average Purchase Price' to table
Number_Players_df['Average Purchase Price'] = Average_Price_by_Gender
Gender_Purchases_df = pd.DataFrame(Number_Players_df)

# Rename 'SN' column to 'Purchase Count'
Update_Gender_Purchases_df = Gender_Purchases_df.rename(columns={
    'SN': 'Purchase Count',
})

# Add 'Normalized Totals' to table
Update_Gender_Purchases_df['Total Purchase Price'] = Total_Gender_Purchases
Updated1_Gender_Purchases_df = pd.DataFrame(Update_Gender_Purchases_df)

# Add 'Total Purchase Price' to table
Updated1_Gender_Purchases_df['Normalized Totals'] = Normal_Total
Total_Gender_Purchases_df = pd.DataFrame(Updated1_Gender_Purchases_df)
Total_Gender_Purchases_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Normalized Totals
Gender,,,,
Female,113,3.20,361.94,3.20
Male,652,3.02,"1,967.64",3.02
Other / Non-Disclosed,15,3.35,50.19,3.35

In [174]:
#Age Demographics
#Establish bins for ages
bins = [0, 9, 14, 19, 24,29,34,39,100]

# Create variables to use
#Categorize the existing players using the age bins. Hint: use pd.cut()
#Calculate the numbers and percentages by age group
#Create a summary data frame to hold the results
#Optional: round the percentage column to two decimal points
#Display Age Demographics Table


#Age Demographics

group_names = ['<10', '10-14', '15-19', '20-24','25-29','30-34','35-39','40+']
pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

GroupBy_SN_Age = purchase_data.groupby(["SN","Age Group"])

                                                              
TotalCount_Players_df = pd.DataFrame(GroupBy_SN_Age.size())
#print(pymoli_unique_payers_df)
AgeGroup_df = pd.DataFrame(TotalCount_Players_df.groupby(["Age Group"]).count())

# Rename/create column
AgeGroup_df.columns= ["Total Count"]
AgeGroup_df["Percentage of Players"] =round(100 *AgeGroup_df["Total Count"]/AgeGroup_df["Total Count"].sum(),2)

AgeGroup_df

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08